[submodule "darknet"]
	path = darknet
	url = git@github.com:Rahi374/darknet.git
[submodule "darknet-old"]
	path = darknet-old
	url = git@github.com:Rahi374/darknet-old.git
[submodule "deep_sort_yolov3"]
	path = deep_sort_yolov3
	url = https://github.com/Qidian213/deep_sort_yolov3
[submodule "yolov3-tf2"]
	path = yolov3-tf2
	url = https://github.com/zzh8829/yolov3-tf2
